.promo-banner {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: var(--promo-height);
  background: linear-gradient(90deg, #bed839, #2d9f10);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.promo-close {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
